.container {
	padding: 20px;
	border: 5px solid #D3D3D3;
	margin: 0 auto;
	position: relative;
}
.left,.right {
	min-height: 500px;
}
.left {
	width: 150px;
	background-color: #5F9EA0;
}
.right {
	background-color: #6495ED;
	position: absolute;
	top: 20px;
	right: 20px;
	left: 170px;
}